.comboboxTreeMultyselect {
	width: 300px;
}

.comboboxTreeMultyselect .textArea .showHide {
	width: 13px;
	height: 13px;
	background: url("../../rs.aspx?image=treeArrows.png") no-repeat scroll -13px 0 transparent;
	cursor: pointer;
	float: right;
	margin-top: 5px;
}

.comboboxTreeMultyselect .tree {
	border: 1px solid #8FB3D4;
	max-height: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 300px;
	background: white;
	position: absolute;
	z-index: 30;
	margin-top: 1px;
}

.comboboxTreeMultyselect .tree .node {
	margin-left: 10px;
}

.comboboxTreeMultyselect .tree .collapsed div {
	display: none;
}

.comboboxTreeMultyselect .tree .node >.collapse {
	display: inline-block;
	width: 13px;
	height: 13px;
	background: url("../../rs.aspx?image=treeArrows.png") no-repeat scroll -26px 0 transparent;
}

.comboboxTreeMultyselect .tree .haschild >.collapse {
	background: url("../../rs.aspx?image=treeArrows.png") no-repeat scroll -13px 0 transparent;
}

.comboboxTreeMultyselect .tree .collapsed >.collapse {
	background: url("../../rs.aspx?image=treeArrows.png") no-repeat scroll 0 0 transparent;}
	
.comboboxTreeMultyselect .textArea {
	
    border: 1px solid #8FB3D4;
    cursor: text;
    overflow: hidden;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-top: 0;
    min-height: 18px;
	width: 298px;
   
}

.comboboxTreeMultyselect .cInput {
	width: 300px;
	border: 1px solid #FFFFFF;
    height: 14px;
    margin-right: -16px;
    margin-top: 2px;
    min-width: 4px;
    overflow: hidden;
    position: relative;
    float: left;
    cursor: text;
}

.comboboxTreeMultyselect .cInput input {
	border: 0 none;
    font-family: Verdana,'Helvetica Neue',Helvetica,Arial,sans-serif;
    min-width: 4px;
    outline: medium none;
    padding-left: 0;
    position: relative;
    width: 300px;
    z-index: 0;
    margin-top: 0;
    padding-top: 0;
    font-size: 11px;
    padding-bottom: 3px;
	margin-right: -4px;
}

.comboboxTreeMultyselect .cValid {
	background-color: #E0E9F1;
    border: 1px solid #BAC2CC;
    color: #243241;
    cursor: default;
    font-size: 12px;
    margin-top: 1px;
    padding: 0 1px 1px 4px;
    position: relative;
    z-index: 1;
    float: left;
    margin-right: 3px;
}

.comboboxTreeMultyselect .chunkX {
	cursor: pointer;
    height: 10px;
    padding: 0 2px;
    position: relative;
    top: 1px;
    vertical-align: baseline;
    width: 10px;
    border: medium none;
    font-size: 11px;
}

.comboboxTreeMultyselect .search {
	width: 280px;
	border: none;
}

.comboboxTreeMultyselect .tree .hiddenBySearch {
	display: none;
}

.comboboxTreeMultyselect .tree .node .highlight {
	background-color: yellow;
}

.comboboxTreeMultyselect .selectedValues {
	display: inline-block;
	border: 1px solid #BAC2CC;
	min-width: 300px;
	max-width: 300px;
}

.comboboxTreeMultyselect .hiddenTree {
	display: none;
}