/* Have fun */

.ac {text-align: center;} .ac {text-align: -moz-center;}
.al {text-align: left;} .al {text-align: -moz-left;}
.ar {text-align: right;} .ar {text-align: -moz-right;}
.aj {text-align: justify;}
.b {font-weight: bold;}
.b0 {bottom: 0;}
.b1r {border: 1px solid #b20000;}
.b1dr {border: 1px dotted #b20000;}
.b1g {border: 1px solid #92b400;}
.b1dg {border: 1px dotted #92b400;}
.cl {clear: left;}
.cr {clear: right;}
.d0 {display: none;}
.d0i {display: none !important;}
.db {display: block;}
.di {display: inline;}
.dib {display: inline-block;}
.f0 {float: none;}
.fl {float: left;}
.fr {float: right;}
.fs0 {font-size: .01%;}
.fs150 {font-size: 150%;}
.fs200 {font-size: 200%;}
.fs250 {font-size: 250%;}
.fs300 {font-size: 300%;}
.h100 {height: 100%;}
.i {font-style: italic;}
.l0 {left: 0;}
.l50 {left: 50%;}
.l100 {left: 100%;}
.ls {letter-spacing: -1px;}
.ls0 {letter-spacing: 0px;}
.ls1 {letter-spacing: 1px;}
.n {font-style: normal; font-variant: normal; font-weight: normal;}
.m0 {margin: 0;}
.oa {overflow: auto;}
.ov {overflow: visible;}
.oh {overflow: hidden;}
.os {overflow: scroll;}
.p0 {padding: 0;}
.pa {position: absolute;}
.pf {position: fixed;}
.pr {position: relative;}
.r0 {right: 0;}
.r50 {right: 50%;}
.r100 {right: 100%;}
.small-caps {font-variant: small-caps;}
.t0 {top: 0;}
.t50 {top: 50%;}
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}
.u {text-decoration: underline;}
.vv {visibility: visible;}
.vh {visibility: hidden;}
.vc {visibility: collapse;}
.w100 {width: 100%;}
.w50 {width: 50%;}
.w33 {width: 33%;}
.ws0 {white-space: nowrap;}
.ws1 {white-space: normal;}
.z0 {z-index: 0;}
.z1 {z-index: 1;}
.z2 {z-index: 2;}
.z3 {z-index: 3;}
.z4 {z-index: 4;}
.z5 {z-index: 5;}
.z6 {z-index: 6;}

.white {color: #ffffff !important;}
.black {color: #000000 !important;}
.red {color: #b20000 !important;}
.green {color: #79a000 !important;}
.blue {color: #2c68c3 !important;}
.gray {color: #5e5858 !important;}
.pale {color: #b0aeae !important;}
.orange {color: #e57100 !important;}

a.gray:link {color: #5e5858; text-decoration: underline;}
a.gray:visited {color: #6b19a8;}
a.gray:active {color: #999999;}
a.gray:link:hover, a.gray:visited:hover, a.gray:active:hover {color: #b20000;} 

a.visited-off:link {color: #1a28ae; text-decoration: underline;}
a.visited-off:visited {color: #1a28ae;}
a.visited-off:active {color: #999999;}
a.visited-off:link:hover, a.visited-off:visited:hover, a.visited-off:active:hover {color: #d00000;} 

.size-6 {font-size: 7px;}
.size-10 {font-size: 10px;} .size-13 {font-size: 13px;} .size-14 {font-size: 14px;}
.size-16 {font-size: 16px;}
.size-25 {font-size: 25px; letter-spacing: -1px;} .size-26 {font-size: 26px; letter-spacing: -1px;}
.size-40 {font-size: 40px; letter-spacing: -1px;}
.size-64 {font-size: 64px; letter-spacing: -2px;}
.size-100 {font-size: 110px; letter-spacing: -3px;}
.size-160 {font-size: 168px; letter-spacing: -3px;}

.line-8 {line-height: 8px;}
.line-12 {line-height: 12px;} .line-14 {line-height: 14px;} .line-16 {line-height: 16px;} .line-17 {line-height: 17px;}
.line-20 {line-height: 20px;} .line-22 {line-height: 22px;}
.line-32 {line-height: 32px;}
.line-40 {line-height: 40px;}
.line-50 {line-height: 50px;}
.line-80 {line-height: 80px;}
.line-120 {line-height: 136px;}
.line-180 {line-height: 180px;}
.line-240 {line-height: 240px;}
