.inner-grid-toggle-control {
		float: left;
    margin-left: 4px;
		margin-right: 4px;
		margin-top: 4px;
}

table.inner-field-value-table, table.inner-field-value-table tr, table.inner-field-value-table tr td {
    border: none;
}

table.inner-field-value-table td.field {
    font-weight: bold;
}

table.inner-field-value-table tr {
    border-bottom: 1px solid gainsboro;
}