<!-- dashboard body -->
<div ng-controller="IzendaDashboardController as dashboardController"
     ng-init="dashboardController.initialize()" ng-cloak>

  <div izenda-bootstrap-modal opened="dashboardController.licenseInitialized && !dashboardController.dashboardsAllowedByLicense">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <b ng-bind="'js_LicenseCheckFailed' | izendaLocale: 'License Check Failed'" bind-once></b>
        </div>
      </div>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <span ng-bind="'js_DashboardExtnesionsRequiredPage' | izendaLocale: 'This page requires Dashboard Extensions'" bind-once></span>
        <br />
        <span ng-bind="'js_PleaseContact' | izendaLocale: 'Please contact sales@izenda.com for details.'" bind-once></span>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default izenda-width-100" data-dismiss="modal"
              ng-bind="'js_close' | izendaLocale: 'Close'"></button>
    </div>
  </div>

  <div izenda-bootstrap-modal keyboard="false" backdrop="'static'" opened="dashboardController.exportProgress">
    <div class="modal-header">
      <span ng-bind="dashboardController.getWaitMessageHeaderText()"></span>
    </div>
    <div class="modal-body">
      <div class="container-fluid">
        <span ng-bind="dashboardController.getWaitMessageText()"></span>
      </div>
    </div>
  </div>

  <div id="dashboardsDiv" ng-show="dashboardController.dashboardsAllowedByLicense">
    <!-- message box -->
    <div izenda-bootstrap-modal opened="dashboardController.isMessageDialogOpened">
      <div class="modal-header">
        <div class="row">
          <div class="col-md-12">
            <b ng-bind="dashboardController.messageDialogTitle"></b>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid" ng-bind="dashboardController.messageDialogText"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default izenda-width-100" data-dismiss="modal"
                ng-click="dashboardController.closeMessageBox()"
                ng-bind="'js_close' | izendaLocale: 'Close'"></button>
      </div>
    </div>

    <div id="dashboardBodyContainer" class="iz-dash-body-container"
         ng-style="dashboardController.tileContainerStyle"
         ng-hide="dashboardController.galleryState.isGalleryEnabled">
      <div class="tile-grid-cell shadow"
           ng-show="dashboardController.isGridShadowVisible"
           ng-style="dashboardController.gridShadowStyle">
        <div class="iz-dash-select-report-front-container"
             ng-show="dashboardController.isGridShadowPlusButtonVisible">
          <button type="button" class="iz-dash-select-report-front-btn2 btn"
                  ng-attr-title="{{'js_SelectReport' | izendaLocale: 'Select report part to add'}}">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </div>
      </div>
      <div class="dashboard-grid"
           ng-show="dashboardController.isGridVisible"
           ng-style="dashboardController.gridStyle"
           class="dashboard-grid">
      </div>
      <!-- repeat tiles -->
      <div tileid="{{tile.id}}"
           reportid="{{tile.id}}"
           class="iz-dash-tile izenda-report-with-id"
           data-hover="false"
           tile-report-full-name="{{tileController.reportFullName}}"
           ng-repeat="tile in dashboardController.tiles"
           ng-style="tileController.getTileStyle()"
           ng-controller="IzendaTileController as tileController"
           ng-init="tileController.initialize(tile)"
           tile-animation-completed
           ng-cloak>

        <div class="animate-flip">
          <div class="flippy flippy-front animated fast">
            <div class="frame">
              <div ng-show="tileController.description != null && tileController.description != ''"
                   class="iz-dash-tile-description" ng-bind="tileController.description">
              </div>
              <div style="cursor: pointer;" class="iz-dash-select-report-front-container"
                   ng-attr-title="{{'js_SelectReport' | izendaLocale: 'Select report part to add'}}"
                   ng-hide="tileController.reportFullName != null"
                   ng-click="tileController.selectReportPart()">
                <a class="btn btn-default iz-dash-select-report-front-btn">
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              </div>
              <div class="report" name="preview_control_container"
                   ng-hide="tileController.isReportDivHidden()">
              </div>
            </div>
            <div class="title-container" style="height: 35px; overflow: hidden;">
              <div class="title">
                <span class="title-text">
                  <a ng-if="tileController.isTitleSet()"
                     class="db-title-repname" title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.title"></a>

                  <a ng-if="!tileController.isTitleSet() && tileController.getConvertedReportCategory() != null"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     href="{{tileController.izendaUrl.settings.urlReportList}}#{{tileController.getConvertedReportCategory()}}"
                     ng-bind="tileController.getConvertedReportCategory()"></a>

                  <span ng-if="!tileController.isTitleSet() && tileController.getConvertedReportCategory() != null && tileController.reportName != null">/</span>

                  <a ng-if="!tileController.isTitleSet() && tileController.reportName != null"
                     class="db-title-repname"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.reportName"></a>

                  <span ng-if="!tileController.isTitleSet() && tileController.reportPartName != null">/</span>
                  <a ng-if="!tileController.isTitleSet() && tileController.reportPartName != null"
                     class="db-title-repname"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.reportPartName"></a>
                </span>
                <a class="title-button button2"
                   ng-attr-title="{{'js_ShowTileOptions' | izendaLocale: 'Show tile options'}}"
                   ng-click="tileController.flipBack()"
                   ng-if="tileController.isEditAllowed()">
                  <span class="bar"></span>
                  <span class="bar"></span>
                  <span class="bar"></span>
                </a>
                <a class="title-button title-button-remove button1"
                   ng-attr-title="{{'js_RemoveTile' | izendaLocale: 'Remove Tile'}}"
                   ng-click="tileController.showConfirmDelete()"
                   ng-if="tileController.isEditAllowed()">
                  <img src="Resources/images/remove-18.png" class="img-responsive" />
                </a>
                <a ng-class="tileController.deleteConfirmClass + ' ' + tileController.getConfirmDeleteClass()"
                   ng-click="tileController.deleteTile()"
                   ng-if="tileController.isEditAllowed()">
                  <img src="Resources/images/tile/confirm-delete.png" />
                  <span ng-if="tileController.getWidth() > 1" class="text-lowercase"
                        ng-bind="'js_RemoveTile' | izendaLocale: 'Remove tile'" bind-once></span>
                </a>
                <a ng-class="tileController.deleteConfirmClass + ' ' + tileController.getCancelDeleteClass()"
                   ng-click="tileController.hideConfirmDelete()"
                   ng-if="tileController.isEditAllowed()">
                  <img src="Resources/images/tile/turn-back.png" />
                  <span ng-if="tileController.getWidth() > 1" class="text-lowercase"
                        ng-bind="'js_Undo' | izendaLocale: 'Undo'" bind-once></span>
                </a>
              </div>
            </div>
          </div>
          <div class="flippy flippy-back">
            <div class="frame">
              <div class="container-fluid iz-dash-tile-fb-main">
                <div class="row">
                  <div class="col-md-3 col-xs-12 iz-dash-tile-fb-label">
                    <label ng-bind="'js_Title' | izendaLocale: 'Title'" bind-once></label>
                  </div>
                  <div class="col-md-9 col-xs-12">
                    <input type="text" class="form-control"
                           ng-model="tileController.title">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-3 col-xs-12 iz-dash-tile-fb-label">
                    <label ng-bind="'js_Description' | izendaLocale: 'Description'" bind-once></label>
                  </div>
                  <div class="col-md-9 col-xs-12">
                    <input type="text" class="form-control"
                           ng-model="tileController.description">
                  </div>
                </div>
              </div>
              <div class="iz-dash-tile-fb-toolbar2">
                <div class="iz-dash-tile-fb-toolbtn"
                     ng-show="!tileController.isOneColumnView() && tileController.isPrintTileVisible() && !tileController.isTileEmpty() && tileController.hasLockedRightsOrMore()">
                  <a ng-attr-title="{{'js_PrintTileReport' | izendaLocale: 'Print tile report'}}"
                     ng-click="tileController.printTile()">
                    <img class="img-responsive" src="Resources/images/back-tile/print.png" />
                  </a>
                </div>
                <div class="iz-dash-tile-fb-toolbtn"
                     ng-show="!tileController.isTileEmpty() && tileController.hasLockedRightsOrMore()">
                  <a ng-attr-title="{{'js_ExportTileToExcel' | izendaLocale: 'Export tile report to Excel'}}"
                     ng-click="tileController.exportToExcel()">
                    <img class="img-responsive" src="Resources/images/back-tile/excel.png" />
                  </a>
                </div>
                <div class="iz-dash-tile-fb-toolbtn" 
                     ng-show="!tileController.isTileEmpty() && tileController.isDesignLinksAllowed && tileController.hasReadOnlyRightsOrMore()">
                  <a ng-attr-title="{{'js_OpenTileInDesigner' | izendaLocale: 'Open tile report in designer'}}"
                     ng-click="tileController.fireReportEditorLink()">
                    <img class="img-responsive" src="Resources/images/back-tile/edit.png" />
                  </a>
                </div>
                <div class="iz-dash-tile-fb-toolbtn" 
                     ng-show="!tileController.isTileEmpty() && tileController.hasLockedRightsOrMore()">
                  <a ng-attr-title="{{'js_OpenTileInViewer' | izendaLocale: 'Open tile report in viewer'}}"
                     ng-click="tileController.fireReportViewerLink()">
                    <img class="img-responsive" src="Resources/images/back-tile/view.png" />
                  </a>
                </div>
                <div class="iz-dash-tile-fb-toolbtn" 
                     ng-show="!tileController.isTileEmpty() && tileController.hasLockedRightsOrMore()">
                  <a ng-attr-title="{{'js_ReloadTile' | izendaLocale: 'Reload tile from its source'}}"
                     ng-click="tileController.flipFront(true, true)">
                    <img class="img-responsive" src="Resources/images/back-tile/reload.png">
                  </a>
                </div>
                <div class="iz-dash-tile-fb-toolbtn">
                  <a ng-attr-title="{{'js_SelectReport' | izendaLocale: 'Select report part to add'}}"
                     ng-click="tileController.selectReportPart()">
                    <img class="img-responsive" src="Resources/images/back-tile/add.png">
                  </a>
                </div>
              </div>
              <div class="iz-dash-tile-fb-toolbar">
                <span class="iz-dash-tile-fb-rcount" ng-bind="tileController.getTopString()"></span>
                <span class="iz-dash-tile-fb-rcount-slider">
                  <div ng-model="tileController.topPreview"
                       disabled="!tileController.hasLockedRightsOrMore()"
                       end-value="tileController.endTop"
                       show-item-all="tileController.showAllInResults"
                       rendered="tileController.flip"
                       on-change-end="tileController.topSelected()"
                       izenda-tile-top-slider >
                  </div>
                </span>
                <span class="iz-dash-tile-fb-rcount-label text-uppercase"
                      ng-bind="'js_RecordsCount' | izendaLocale: 'Records count'" bind-once></span>
              </div>
            </div>
            <div class="title-container" style="height: 35px; overflow: hidden;">
              <div class="title">
                <span class="title-text">
                  <a ng-if="tileController.isTitleSet()"
                     class="db-title-repname"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.title"></a>

                  <a ng-if="!tileController.isTitleSet() && tileController.getConvertedReportCategory() != null"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     href="{{tileController.izendaUrl.settings.urlReportList}}#{{tileController.getConvertedReportCategory()}}"
                     ng-bind="tileController.getConvertedReportCategory()"></a>

                  <span ng-if="!tileController.isTitleSet() && tileController.getConvertedReportCategory() != null && tileController.reportName != ''">/</span>
                  <a ng-if="!tileController.isTitleSet()"
                     class="db-title-repname"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.reportName"></a>

                  <span ng-if="!tileController.isTitleSet() && tileController.reportPartName != null">/</span>
                  <a ng-if="!tileController.isTitleSet()"
                     class="db-title-repname"
                     title="{{tileController.getConvertedReportCategory()}}\{{tileController.reportName}}\{{tileController.reportPartName}}"
                     ng-click="tileController.fireReportViewerLink()"
                     ng-bind="tileController.reportPartName"></a>
                </span>
                <a class="title-button title-button-remove button2"
                   ng-attr-title="{{'js_ShowTile' | izendaLocale: 'Show tile'}}"
                   ng-click="tileController.flipFront(tileController.tileSizeChanged)">
                  <img src="Resources/images/turn-18.png" class="img-responsive" />
                </a>
                <a class="title-button title-button-remove button1"
                   ng-attr-title="{{'js_RemoveTile' | izendaLocale: 'Remove Tile'}}"
                   ng-click="tileController.showConfirmDelete()">
                  <img src="Resources/images/remove-18.png" class="img-responsive" />
                </a>
                <a ng-class="tileController.deleteConfirmClass + ' ' + tileController.getConfirmDeleteClass()"
                   ng-click="tileController.deleteTile()">
                  <img src="Resources/images/tile/confirm-delete.png" />
                  <span ng-if="tileController.getWidth() > 1" class="text-lowercase"
                        ng-bind="'js_RemoveTile' | izendaLocale: 'Remove tile'" bind-once></span>
                </a>
                <a ng-class="tileController.deleteConfirmClass + ' ' + tileController.getCancelDeleteClass()"
                   ng-click="tileController.hideConfirmDelete()">
                  <img src="Resources/images/tile/turn-back.png" />
                  <span ng-if="tileController.getWidth() > 1" class="text-lowercase"
                        ng-bind="'js_Undo' | izendaLocale: 'Undo'" bind-once></span>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end tile -->
    </div>
    <div id="galleryBodyContainer"
         ng-show="dashboardController.galleryState.isGalleryEnabled"
         ng-style="dashboardController.galleryContainerStyle">
      <!-- gallery -->
      <izenda-gallery play-timeout="dashboardController.galleryState.playDelay"
                      play-started="dashboardController.galleryState.isPlayStarted"
                      play-stop-on-complete="!dashboardController.galleryState.isPlayRepeat"
                      width="70%"
                      height="80%"
                      enabled="dashboardController.galleryState.isGalleryEnabled"
                      gallery-items="dashboardController.tiles"
                      is-full-screen="dashboardController.galleryState.isGalleryFullScreen"
                      ng-model="dashboardController.galleryTileIndex"
                      update-counter="dashboardController.galleryUpdateCounter">
      </izenda-gallery>
    </div>
  </div>
</div>
