<!-- select report part dialog -->
<izenda-select-report-part is-visible="$ctrl.isSelectReportPartModalVisible" 
                           on-report-part-selected="$ctrl.onSelectReportPart(reportPartObject)"
                           on-report-part-cancelled="$ctrl.onSelectReportPartCancelled()">
</izenda-select-report-part>

<!-- export progress modal -->
<div izenda-bootstrap-modal keyboard="false" backdrop="'static'" opened="$ctrl.exportProgress">
  <div class="modal-header">
    <span ng-bind="$ctrl.getWaitMessageHeaderText()"></span>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <span ng-bind="$ctrl.getWaitMessageText()"></span>
    </div>
  </div>
</div>

<div tileid="{{$ctrl.tile.id}}"
     reportid="{{$ctrl.tile.id}}"
     class="iz-dash-tile izenda-report-with-id"
     ng-style="$ctrl.getTileStyle()"
     data-hover="false"
     izenda-tile-hover-report-complexity="$ctrl.state.relativeReportComplexity"
     izenda-tile-hover
     izenda-tile-flip-object="$ctrl.tile.flip"
     izenda-tile-flip-handler="$ctrl.onTileFlip(isFront, update, updateFromSourceReport)"
     izenda-tile-flip
     ng-cloak>
  <izenda-tile-draggable enabled="true"
                         tile="$ctrl.tile"
                         tiles="$ctrl.tiles"
                         grid-width="$ctrl.gridWidth"
                         grid-height="$ctrl.gridHeight"
                         on-move-start="$ctrl.onTileDragStart({ tile: tile })"
                         on-move="$ctrl.onTileDrag({ tile: tile, shadowPosition: shadowPosition })"
                         on-move-end="$ctrl._onTileDragEndInner(eventResult)"></izenda-tile-draggable>
  <izenda-tile-resizable enabled="true"
                         tile="$ctrl.tile"
                         tiles="$ctrl.tiles"
                         grid-width="$ctrl.gridWidth"
                         grid-height="$ctrl.gridHeight"
                         on-resize-start="$ctrl.onTileResizeStart({ tile: tile })"
                         on-resize="$ctrl.onTileResize({ tile: tile, shadowPosition: shadowPosition})"
                         on-resize-end="$ctrl._onTileResizeEndInner(eventResult)"></izenda-tile-resizable>
  <div class="animate-flip">
    <div class="flippy flippy-front animated fast" 
         ng-style="{backgroundColor: $ctrl.tile.backgroundColor}">
      <div class="frame" ng-style="$ctrl.tile.reportFullName ? {} : {'top':'5px'}">
        <!-- tile front -->
        <div style="cursor: pointer;" class="iz-dash-select-report-front-container"
             ng-attr-title="{{'js_SelectReport' | izendaLocale: 'Select report part to add'}}"
             ng-hide="$ctrl.tile.reportFullName"
             ng-click="$ctrl.selectReportPart()">
          <a class="btn btn-default iz-dash-select-report-front-btn">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
        </div>
        <div class="iz-dash-tile-description"
             ng-show="$ctrl.tile.description"
             ng-bind="$ctrl.tile.description">
        </div>
        <a class="title-button title-button-remove button1"
           style="position: absolute; cursor: pointer; right: 0; top: 0; height: 35px; background-color: transparent;"
           ng-attr-title="{{'js_RemoveTile' | izendaLocale: 'Remove Tile'}}"
           ng-click="$ctrl.deleteTile()"
           ng-hide="$ctrl.tile.reportFullName"
           ng-if="$ctrl.isEditAllowed()">
          <img src="Resources/images/remove-18.png" class="img-responsive" />
        </a>
        <div class="report" name="preview_control_container"
             ng-hide="$ctrl.isReportDivHidden()">
        </div>
      </div>
      <div class="title-container" style="overflow: hidden; height: 35px;">
        <div class="title">
          <!-- title -->
          <span class="title-text" ng-include="'Resources/components/dashboard/templates/izenda-dashboard-tile-title.html'"></span>

          <!-- title buttons -->
          <a class="title-button button2"
             ng-attr-title="{{'js_ShowTileOptions' | izendaLocale: 'Show tile options'}}"
             ng-click="$ctrl.flipBack()"
             ng-if="$ctrl.isEditAllowed() && $ctrl.tile.reportFullName">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <a class="title-button title-button-remove button1"
             ng-attr-title="{{'js_RemoveTile' | izendaLocale: 'Remove Tile'}}"
             ng-click="$ctrl.showConfirmDelete()"
             ng-if="$ctrl.isEditAllowed()">
            <img src="Resources/images/remove-18.png" class="img-responsive" />
          </a>
          <a ng-class="$ctrl.deleteConfirmClass + ' ' + $ctrl.getConfirmDeleteClass()"
             ng-click="$ctrl.deleteTile()"
             ng-if="$ctrl.isEditAllowed()">
            <img src="Resources/images/tile/confirm-delete.png" />
            <span ng-if="$ctrl.getWidth() > 1" class="text-lowercase"
                  ng-bind="'js_RemoveTile' | izendaLocale: 'Remove tile'" bind-once></span>
          </a>
          <a ng-class="$ctrl.deleteConfirmClass + ' ' + $ctrl.getCancelDeleteClass()"
             ng-click="$ctrl.hideConfirmDelete()"
             ng-if="$ctrl.isEditAllowed()">
            <img src="Resources/images/tile/turn-back.png" />
            <span ng-if="$ctrl.getWidth() > 1" class="text-lowercase"
                  ng-bind="'js_Undo' | izendaLocale: 'Undo'" bind-once></span>
          </a>
        </div>
      </div>
    </div>
    <div class="flippy flippy-back" 
         ng-style="{backgroundColor: $ctrl.tile.backgroundColor}">
      <div class="frame">
        <!-- tile back -->
        <div class="container-fluid iz-dash-tile-fb-main">
          <div class="row">
            <div class="col-md-3 col-xs-12 iz-dash-tile-fb-label">
              <label ng-bind="'js_Title' | izendaLocale: 'Title'" bind-once></label>
            </div>
            <div class="col-md-9 col-xs-12">
              <input type="text" class="form-control"
                     ng-model="$ctrl.tile.title">
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-xs-12 iz-dash-tile-fb-label">
              <label ng-bind="'js_Description' | izendaLocale: 'Description'" bind-once></label>
            </div>
            <div class="col-md-9 col-xs-12">
              <input type="text" class="form-control"
                     ng-model="$ctrl.tile.description">
            </div>
          </div>
        </div>
        <!-- tile toolbar -->
        <div class="iz-dash-tile-fb-toolbar2">
          <div class="iz-dash-tile-fb-toolbtn"
               ng-show="!$ctrl.isOneColumnView() && $ctrl.isPrintTileVisible() && !$ctrl.isTileEmpty() && $ctrl.hasLockedRightsOrMore()">
            <a ng-attr-title="{{'js_PrintTileReport' | izendaLocale: 'Print tile report'}}"
               ng-click="$ctrl.printTile()">
              <img class="img-responsive" src="Resources/images/back-tile/print.png" />
            </a>
          </div>
          <div class="iz-dash-tile-fb-toolbtn"
               ng-show="!$ctrl.isTileEmpty() && $ctrl.hasLockedRightsOrMore()">
            <a ng-attr-title="{{'js_ExportTileToExcel' | izendaLocale: 'Export tile report to Excel'}}"
               ng-click="$ctrl.exportToExcel()">
              <img class="img-responsive" src="Resources/images/back-tile/excel.png" />
            </a>
          </div>
          <div class="iz-dash-tile-fb-toolbtn"
               ng-show="!$ctrl.isTileEmpty() && $ctrl.isDesignLinksAllowed && $ctrl.hasReadOnlyRightsOrMore()">
            <a ng-attr-title="{{'js_OpenTileInDesigner' | izendaLocale: 'Open tile report in designer'}}"
               ng-click="$ctrl.fireReportEditorLink()">
              <img class="img-responsive" src="Resources/images/back-tile/edit.png" />
            </a>
          </div>
          <div class="iz-dash-tile-fb-toolbtn"
               ng-show="!$ctrl.isTileEmpty() && $ctrl.hasLockedRightsOrMore()">
            <a ng-attr-title="{{'js_OpenTileInViewer' | izendaLocale: 'Open tile report in viewer'}}"
               ng-click="$ctrl.fireReportViewerLink()">
              <img class="img-responsive" src="Resources/images/back-tile/view.png" />
            </a>
          </div>
          <div class="iz-dash-tile-fb-toolbtn"
               ng-show="!$ctrl.isTileEmpty() && $ctrl.hasLockedRightsOrMore()">
            <a ng-attr-title="{{'js_ReloadTile' | izendaLocale: 'Reload tile from its source'}}"
               ng-click="$ctrl.flipFront(true, true)">
              <img class="img-responsive" src="Resources/images/back-tile/reload.png">
            </a>
          </div>
          <div class="iz-dash-tile-fb-toolbtn">
            <a ng-attr-title="{{'js_SelectReport' | izendaLocale: 'Select report part to add'}}"
               ng-click="$ctrl.selectReportPart()">
              <img class="img-responsive" src="Resources/images/back-tile/add.png">
            </a>
          </div>
        </div>
        <div class="iz-dash-tile-fb-toolbar">
          <span class="iz-dash-tile-fb-rcount" ng-bind="$ctrl.tile.topString"></span>
          <span class="iz-dash-tile-fb-rcount-slider">
            <div ng-model="$ctrl.tile.top"
                 on-change-end="$ctrl.topSelected(newTop)"
                 disabled="!$ctrl.hasLockedRightsOrMore()"
                 show-item-all="$ctrl.showAllInResults"
                 rendered="$ctrl.tile.flip"
                 izenda-tile-top-slider>
            </div>
          </span>
          <span class="iz-dash-tile-fb-rcount-label text-uppercase"
                ng-bind="'js_RecordsCount' | izendaLocale: 'Records count'" bind-once></span>
        </div>

      </div>
      <div class="title-container" style="height: 35px; overflow: hidden;">
        <div class="title">
          <span class="title-text">
            <!-- title -->
            <span class="title-text" ng-include="'Resources/components/dashboard/templates/izenda-dashboard-tile-title.html'"></span>

            <!-- title buttons -->
            <a class="title-button title-button-remove button2"
               ng-attr-title="{{'js_ShowTile' | izendaLocale: 'Show tile'}}"
               ng-click="$ctrl.flipFront($ctrl.tileSizeChanged)">
              <img src="Resources/images/turn-18.png" class="img-responsive" />
            </a>
            <a class="title-button title-button-remove button1"
               ng-attr-title="{{'js_RemoveTile' | izendaLocale: 'Remove Tile'}}"
               ng-click="$ctrl.showConfirmDelete()">
              <img src="Resources/images/remove-18.png" class="img-responsive" />
            </a>
            <a ng-class="$ctrl.deleteConfirmClass + ' ' + $ctrl.getConfirmDeleteClass()"
               ng-click="$ctrl.deleteTile()">
              <img src="Resources/images/tile/confirm-delete.png" />
              <span ng-if="$ctrl.getWidth() > 1" class="text-lowercase"
                    ng-bind="'js_RemoveTile' | izendaLocale: 'Remove tile'" bind-once></span>
            </a>
            <a ng-class="$ctrl.deleteConfirmClass + ' ' + $ctrl.getCancelDeleteClass()"
               ng-click="$ctrl.hideConfirmDelete()">
              <img src="Resources/images/tile/turn-back.png" />
              <span ng-if="$ctrl.getWidth() > 1" class="text-lowercase"
                    ng-bind="'js_Undo' | izendaLocale: 'Undo'" bind-once></span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
