<header ng-controller="IzendaToolbarController as toolbarController" ng-init="toolbarController.initialize()">

  <!-- dashboard background -->
  <div izenda-dashboard-background background-color="toolbarController.izendaBackgroundColor"
                               background-image="toolbarController.izendaBackgroundImageUrl"
                               hue-rotate="toolbarController.hueRotate"></div>

  <div izenda-bootstrap-modal opened="toolbarController.sendEmailState.opened">
    <div class="modal-header">
      <div class="row">
        <div class="col-md-12">
          <b>Send Report Email</b>
        </div>
      </div>
    </div>
    <div class="modal-body" ng-hide="toolbarController.sendEmailState.isLoading">
      <form ng-submit="toolbarController.hideEmailModal(true)">
        <div class="alert alert-danger" role="alert"
             ng-show="toolbarController.sendEmailState.errorOccured">
          <div ng-repeat="error in toolbarController.sendEmailState.errors">
            {{error}}
          </div>
        </div>
        {{toolbarController.sendEmailState.type}}
        <div class="form-group">
          <label for="izendaDashboardModalSendEmail" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="izendaDashboardModalSendEmail"
                   ng-model="toolbarController.sendEmailState.email" placeholder="Email">
          </div>
        </div>
      </form>
    </div>
    <div class="modal-body" ng-show="toolbarController.sendEmailState.isLoading">
      <div class="iz-dash-tile-vcentered-container" style="height: 50px;">
        <div class="iz-dash-tile-vcentered-item">
          <img class="img-responsive" ng-src="{{toolbarController.izendaUrl.urlSettings.urlRsPage + '?image=ModernImages.loading-grid.gif'}}" 
            alt="Loading..." />
        </div>
      </div>
    </div>
    <div class="modal-footer" ng-hide="toolbarController.sendEmailState.isLoading">
      <button type="button" class="btn btn-default" data-dismiss="modal"
              ng-click="toolbarController.hideEmailModal(false)">Close</button>
      <button type="button" class="btn btn-primary"
              ng-click="toolbarController.hideEmailModal(true)">OK</button>
    </div>
  </div>

  <!-- select background image modal dialog -->
  <div izenda-bootstrap-modal opened="toolbarController.selectBackgroundImageModalOpened">
    <div class="modal-body">
      <form>
        <div class="alert alert-info small" role="alert">
          Background will be visible only in this browser
        </div>
        <div class="radio" ng-hide="!toolbarController.isStorageAvailable">
          <label>
            <input type="radio" name="a1" checked="checked"
                   ng-model="toolbarController.backgroundModalRadio" ng-value="'url'"/>
            Image Url
          </label>
        </div>
        <input type="text" class="form-control"
               placeholder="Type URL here..."
               ng-model="toolbarController.izendaBackgroundImageUrl"
               ng-disabled="toolbarController.backgroundModalRadio == 'file'"/>
        <div class="radio" style="margin-top: 20px;"
             ng-hide="!toolbarController.isStorageAvailable">
          <label>
            <input type="radio" name="a1"
                   ng-model="toolbarController.backgroundModalRadio" ng-value="'file'"/>
            Open file in your computer
          </label>
        </div>
        <input id="izendaDashboardBackground" type="file" name="files[]"
               ng-disabled="toolbarController.backgroundModalRadio == 'url'"
               ng-hide="!toolbarController.isStorageAvailable"/>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"
              ng-click="toolbarController.cancelBackgroundDialogHandler()">Close</button>
      <button type="button" class="btn btn-primary"
              ng-click="toolbarController.okBackgroundDialogHandler()">OK</button>
    </div>
  </div>

  <!-- toolbar -->
  <nav class="navbar navbar-default iz-dash-navbar" role="navigation">
    <div class="container-fluid">
      <!-- navbar header (visible: xs, sm) -->
      <div class="navbar-header hidden-sm hidden-md hidden-lg">
        <!--<a class="pull-right hue-rotate-btn" title="Toggle background hue rotate" style="margin: 10px;"
          ng-show="toolbarController.isToggleHueRotateEnabled();"
          ng-click="toolbarController.toggleHueRotateHandler();">
          <img class="icon" src="{{toolbarController.getHueRotateBtnImageUrl()}}" style="width: 16px; height: 16px;" alt="Hue rotate" />
        </a>-->
        <ul class="pull-right" style="margin: 10px; margin-top: 14px;">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" title="Open dashboard"
              ng-if="!toolbarController.isIE8">
              <span class="glyphicon glyphicon-folder-open">
                <b class="caret"></b>
              </span>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" title="Open dashboard"
              ng-if="toolbarController.isIE8">
              <span>
                <img src="Resources/images/folder.png" />
                <b class="caret"></b>
              </span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-repeat="category in toolbarController.dashboardCategories">
                <div class="iz-dash-menu-catergory">{{category.name}}</div>
                <div class="iz-dash-navigation-menu-item"
                  ng-repeat="dashboard in category.dashboards">
                  <a href="#{{dashboard}}">{{toolbarController.extractReportName(dashboard)}}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="navbar-brand" ng-bind="izendaUrl.getReportInfo().name"></div>
      </div>

      <!-- (hidden: xs, sm) -->
      <div id="izendaDashboardToolbar" class="collapse navbar-collapse hidden-xs hidden-sm">
        <!-- button bar -->
        <ul ng-class="toolbarController.buttonbarCollapsedClass"
          class="nav navbar-nav iz-dash-collapsed-toolbtn-panel left-transition opened">
          <li><a class="navbar-toggle" style="border-color: transparent; margin-top: 5px; margin-bottom: 5px;"
            ng-click="toolbarController.showButtonBar()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a></li>
        </ul>

        <!-- IE8 button bar -->
        <ul ng-class="toolbarController.buttonbarClass"
          ng-if="toolbarController.isIE8"
          class="nav navbar-nav iz-dash-collapsed-toolbtn-panel-ie8">
          <li>
            <a ng-click="toolbarController.hideButtonBar()" title="Hide buttons">
              <b>&lt;</b>
            </a>
          </li>
          <li>
            <a title="Create New Dashboard"
              ng-click="toolbarController.createNewDashboardHandler()">
              <img src="Resources/images/add-new.png" />
            </a>
          </li>
          <li>
            <a title="Refresh Dashboard"
              ng-click="toolbarController.refreshDashboardHandler()">
              <img src="Resources/images/refresh-18.png" />
            </a>
          </li>
          <li>
            <a class="dropdown-toggle" data-toggle="dropdown" title="Save Dashboard"
              ng-if="toolbarController.isIE8">
              <img src="Resources/images/floppy.png" />&nbsp;<b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a title="Save Dashboard"
                  ng-click="toolbarController.saveDashboardHandler(false)">
                  <img src="Resources/images/floppy.png" />Save Dashboard
                </a>
              </li>
              <li>
                <a title="Save Dashboard As"
                  ng-click="toolbarController.saveDashboardHandler(true)">
                  <img src="Resources/images/floppy.png" />Save Dashboard As
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <!-- non ie8 button bar -->
        <ul ng-class="toolbarController.buttonbarClass"
          class="nav navbar-nav iz-dash-toolbtn-panel left-transition"
          ng-if="!toolbarController.isIE8">
          <li>
            <a ng-click="toolbarController.hideButtonBar()" title="Hide buttons" style="border-right: 1px solid #ddd;">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
          </li>
          <li ng-show="toolbarController.isPresentationModeEnable">
            <a title="Presentation Mode"
              ng-click="toolbarController.toggleGalleryMode(true)"
              ng-hide="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-play" style="color: greenyellow;"></span>
            </a>
            <a title="Tile Mode"
              ng-click="toolbarController.toggleGalleryMode(false)"
              ng-show="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-th"></span>
            </a>
          </li>
          <li>
            <a title="Fullscreen Mode"
              ng-click="toolbarController.toggleGalleryModeFullScreen()"
              ng-show="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-fullscreen"></span>
            </a>
          </li>
          <li>
            <a title="Create New Dashboard"
              ng-click="toolbarController.createNewDashboardHandler()"
              ng-hide="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-plus"></span>
            </a>
          </li>
          <!-- refresh -->
          <li>
            <a title="Refresh Dashboard"
              ng-click="toolbarController.refreshDashboardHandler()"
              ng-hide="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-refresh"></span>
            </a>
          </li>
          <li>
            <a title="Show Dashboard Filters"
              ng-hide="toolbarController.isGalleryMode || !toolbarController.isFiltersEditAllowed()"
              ng-click="toolbarController.toggleDashboardFilters()">
              <span class="glyphicon glyphicon-filter"></span>
            </a>
          </li>
          <li>
            <a title="Share"
              ng-hide="!toolbarController.isFullAccess()"
              ng-click="toolbarController.showShareDialog()">
              <span class="glyphicon glyphicon-share-alt"></span>
            </a>
          </li>
          <li>
            <a title="Schedule"
               ng-hide="!toolbarController.isFullAccess()"
               ng-click="toolbarController.showScheduleDialog()">
              <span class="glyphicon glyphicon-calendar"></span>
            </a>
          </li>
          <li class="dropdown"
              ng-show="!toolbarController.isGalleryMode && toolbarController.isPrintDropdownVisible()">
            <a class="dropdown-toggle" data-toggle="dropdown" title="Print Dashboard">
              <span class="glyphicon glyphicon-print">&nbsp;<b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a title="Print Dashboard HTML"
                   ng-show="toolbarController.isPrintDashboardVisible()"
                   ng-click="toolbarController.printDashboard()">
                  <span class="glyphicon glyphicon-print"></span>&nbsp;Print dashboard HTML
                </a>
              </li>
              <li>
                <a title="Print Dashboard PDF"
                   ng-show="toolbarController.isPrintDashboardPdfVisible()"
                   ng-click="toolbarController.printDashboardPdf()">
                  <span class="glyphicon glyphicon-print"></span>&nbsp;Print report PDF
                </a>
              </li>
            </ul>
            
          </li>
          <li class="dropdown"
              ng-show="!toolbarController.isGalleryMode && (toolbarController.isSaveAsAllowed() || toolbarController.isFullAccess())">
            <a class="dropdown-toggle" data-toggle="dropdown" title="Save Dashboard"
               ng-hide="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-floppy-disk">&nbsp;<b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a title="Save Dashboard"
                   ng-hide="!toolbarController.isFullAccess()"
                   ng-click="toolbarController.saveDashboardHandler(false)">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save Dashboard
                </a>
              </li>
              <li>
                <a title="Save Dashboard As"
                   ng-click="toolbarController.saveDashboardHandler(true)">
                  <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp;Save Dashboard As
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown" ng-hide="toolbarController.isGalleryMode">
            <a class="dropdown-toggle" data-toggle="dropdown" title="Send Email"
               ng-hide="toolbarController.isGalleryMode">
              <span class="glyphicon glyphicon-envelope">&nbsp;<b class="caret"></b></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a title="Send dashboard link to email"
                  ng-click="toolbarController.sendEmail('Link')">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;Send Link To Email
                </a>
              </li>
              <li>
                <a title="Send dashboard PDF to email"
                  ng-click="toolbarController.sendEmail('PDF')">
                  <span class="glyphicon glyphicon-envelope"></span>&nbsp;Send PDF To Email
                </a>
              </li>
            </ul>
          </li>
          <li class="dropdown" ng-hide="toolbarController.isGalleryMode">
            <a class="hue-rotate-btn dropdown-toggle" data-toggle="dropdown"
              title="Toggle background hue rotate"
              ng-show="toolbarController.isToggleHueRotateEnabled();"
              ng-style="toolbarController.backgroundColorStyle">
              <img class="icon" ng-src="{{toolbarController.getHueRotateBtnImageUrl()}}" style="width: 16px;" alt="Hue rotate" />
              &nbsp;<b class="caret"></b>
            </a>
            <div class="dropdown-menu dropdown-no-close-on-click" style="min-width: 200px; text-align: center;">
              <div class="iz-dash-color-preview-container">
                <span ng-style="toolbarController.backgroundColorStyle" class="iz-dash-color-preview">&nbsp;</span>
                <span class="iz-dash-color-preview">{{toolbarController.izendaBackgroundColor}}</span>
              </div>
              <div izenda-color-picker ng-model="toolbarController.izendaBackgroundColor"></div>
              <div style="padding: 5px;">
                <a class="small" ng-click="toolbarController.selectBackgroundDialogHandler()">Select background image</a>
                <br ng-hide="!toolbarController.isBackgroundImageSet()" />
                <a class="small" ng-click="toolbarController.removeBackgroundImageHandler()"
                  ng-hide="!toolbarController.isBackgroundImageSet()" style="color: #8b0000;">Remove background image</a>
              </div>
              <div style="padding: 5px;" ng-hide="!toolbarController.isToggleHueRotateEnabled()">
                <hr style="margin-top: 5px; margin-bottom: 10px;" />
                <div izenda-switcher ng-model="toolbarController.hueRotate"
                  tooltip="'Toggle Background Color Hue Rotate'"
                  label="'Color hue rotate'" />
              </div>
            </div>
          </li>
        </ul>
        <!-- navbar "folder" dropdown -->
        <ul class="nav navbar-nav iz-dash-dashboards-dropdown" ng-show="toolbarController.dashboardCategories.length">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" title="Open dashboard"
              ng-if="!toolbarController.isIE8">
              <span class="glyphicon glyphicon-folder-open">
                <b class="caret"></b>
              </span>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" title="Open dashboard"
              ng-if="toolbarController.isIE8">
              <span>
                <img src="Resources/images/folder.png" />
                <b class="caret"></b>
              </span>
            </a>
            <ul class="dropdown-menu pull-right" role="menu">
              <li ng-repeat="category in toolbarController.dashboardCategories">
                <div class="iz-dash-menu-catergory">{{category.name}}</div>
                <div class="iz-dash-navigation-menu-item"
                  ng-repeat="dashboard in category.dashboards">
                  <a href="#{{dashboard}}">{{toolbarController.extractReportName(dashboard)}}</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <!-- navbar dashboard tabs -->
        <div class="iz-dash-linkspanel-container"
          ng-show="!toolbarController.isButtonBarVisible">
          <div izenda-toolbar-links-panel toolbar-items="toolbarController.dashboardsInCurrentCategory"
            toolbar-active-item="toolbarController.activeDashboard"
            get-title="toolbarController.getToolbarItemTitle(arg0)"
            equals-func="toolbarController.getToolbarItemsEquals(arg0, arg1)"
            on-click="toolbarController.toolbarLoadDashboard(arg0)">
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
