<div ng-controller="IzendaNotificationController as notificationController" ng-init="notificationController.initialize()">
  <!-- notifications -->
  <div id="notificationDiv" ng-hide="notificationController.notifications.length === 0">
    <div class="iz-dash-notification fx-fade-down fx-speed-500 fx-trigger fx-easing-quint"
      ng-repeat="notification in notificationController.notifications">
      <div class="close-button glyphicon glyphicon-remove"
        ng-click="notificationController.closeNotification(notification.id)"
        ng-mouseover="notificationController.cancelNotificationTimeout(notification.id)">
      </div>
      <div class="icon" ng-class="notification.iconClass" ng-show="notification.iconClass !== ''"></div>
      <div class="title" ng-bind="notification.title"></div>
      <div class="text" ng-bind="notification.text"></div>
    </div>
  </div>
</div>
