<div ng-controller="IzendaShareController as shareController"
  ng-init="shareController.initialize()">
  <div class="container-fluid">
    <div class="row" ng-show="shareController.shareRules.length > 0">
      <div class="col-xs-5 no-side-paddings">
        <b ng-bind="'js_ShareWith' | izendaLocale: 'Share with'"></b>
      </div>
      <div class="col-xs-offset-2 col-xs-5 no-side-paddings">
        <b ng-bind="'js_Rights' | izendaLocale: 'Rights'"></b>
      </div>
    </div>
    <div class="row"
      ng-repeat="shareRule in shareController.shareRules">
      <div class="col-xs-5 no-side-paddings">
        <div class="form-group">
          <select class="form-control"
            ng-options="subject.value as subject.text disable when subject.disabled for subject in shareRule.availableSubjects"
            ng-model="shareRule.subject"
            ng-change="shareController.onShareRuleSubjectChanged(shareRule)">
          </select>
        </div>
      </div>
      <div class="col-xs-2 no-side-paddings text-center">
        <span class="glyphicon glyphicon-arrow-right" style="margin: 8px 0;"></span>
      </div>
      <div class="col-xs-5 no-side-paddings">
        <div class="form-group"
          ng-class="shareController.getShareRuleValidationMessage(shareRule) !== null ? 'has-error' : ''"
          ng-attr-title="{{shareController.getShareRuleValidationMessage(shareRule)}}">
          <select class="form-control"
            ng-options="right.value as right.text disable when right.disabled for right in shareRule.availableRights"
            ng-model="shareRule.right">
          </select>
        </div>
      </div>
    </div>
    <div class="row" ng-show="shareController.shareRules.length < shareController.subjects.length - 1">
      <div class="col-xs-12">
        <button class="btn btn-default" ng-click="shareController.addShareRule()"
          ng-bind="'js_AddRule' | izendaLocale: 'Add rule'">
        </button>
      </div>
    </div>
  </div>
</div>
