.svg-icon {
	display: inline-block;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	.svg-icon.icon-16 {
		width: 1em;
		height: 1em;
		background-size: auto 1em;
		background-repeat: no-repeat;
		background-position: center;
	}

	.svg-icon.with-label {
		position: relative;
		top: 0.2em;
	}

	.svg-icon.check {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1312%20256h-832q-66%200-113%2047t-47%20113v832q0%2066%2047%20113t113%2047h832q66%200%20113-47t47-113v-832q0-66-47-113t-113-47zm288%20160v832q0%20119-84.5%20203.5t-203.5%2084.5h-832q-119%200-203.5-84.5t-84.5-203.5v-832q0-119%2084.5-203.5t203.5-84.5h832q119%200%20203.5%2084.5t84.5%20203.5z%22/%3E%3C/svg%3E);
	}

		.svg-icon.check.checked {
			background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1472%20930v318q0%20119-84.5%20203.5t-203.5%2084.5h-832q-119%200-203.5-84.5t-84.5-203.5v-832q0-119%2084.5-203.5t203.5-84.5h832q63%200%20117%2025%2015%207%2018%2023%203%2017-9%2029l-49%2049q-10%2010-23%2010-3%200-9-2-23-6-45-6h-832q-66%200-113%2047t-47%20113v832q0%2066%2047%20113t113%2047h832q66%200%20113-47t47-113v-254q0-13%209-22l64-64q10-10%2023-10%206%200%2012%203%2020%208%2020%2029zm231-489l-814%20814q-24%2024-57%2024t-57-24l-430-430q-24-24-24-57t24-57l110-110q24-24%2057-24t57%2024l263%20263%20647-647q24-24%2057-24t57%2024l110%20110q24%2024%2024%2057t-24%2057z%22/%3E%3C/svg%3E);
		}

	.svg-icon.save {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M512%201536h768v-384h-768v384zm896%200h128v-896q0-14-10-38.5t-20-34.5l-281-281q-10-10-34-20t-39-10v416q0%2040-28%2068t-68%2028h-576q-40%200-68-28t-28-68v-416h-128v1280h128v-416q0-40%2028-68t68-28h832q40%200%2068%2028t28%2068v416zm-384-928v-320q0-13-9.5-22.5t-22.5-9.5h-192q-13%200-22.5%209.5t-9.5%2022.5v320q0%2013%209.5%2022.5t22.5%209.5h192q13%200%2022.5-9.5t9.5-22.5zm640%2032v928q0%2040-28%2068t-68%2028h-1344q-40%200-68-28t-28-68v-1344q0-40%2028-68t68-28h928q40%200%2088%2020t76%2048l280%20280q28%2028%2048%2076t20%2088z%22/%3E%3C/svg%3E);
	}

	.svg-icon.print {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M448%201536h896v-256h-896v256zm0-640h896v-384h-160q-40%200-68-28t-28-68v-160h-640v640zm1152%2064q0-26-19-45t-45-19-45%2019-19%2045%2019%2045%2045%2019%2045-19%2019-45zm128%200v416q0%2013-9.5%2022.5t-22.5%209.5h-224v160q0%2040-28%2068t-68%2028h-960q-40%200-68-28t-28-68v-160h-224q-13%200-22.5-9.5t-9.5-22.5v-416q0-79%2056.5-135.5t135.5-56.5h64v-544q0-40%2028-68t68-28h672q40%200%2088%2020t76%2048l152%20152q28%2028%2048%2076t20%2088v256h64q79%200%20135.5%2056.5t56.5%20135.5z%22/%3E%3C/svg%3E);
	}

	.svg-icon.email {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1664%201504v-768q-32%2036-69%2066-268%20206-426%20338-51%2043-83%2067t-86.5%2048.5-102.5%2024.5h-2q-48%200-102.5-24.5t-86.5-48.5-83-67q-158-132-426-338-37-30-69-66v768q0%2013%209.5%2022.5t22.5%209.5h1472q13%200%2022.5-9.5t9.5-22.5zm0-1051v-24.5l-.5-13-3-12.5-5.5-9-9-7.5-14-2.5h-1472q-13%200-22.5%209.5t-9.5%2022.5q0%20168%20147%20284%20193%20152%20401%20317%206%205%2035%2029.5t46%2037.5%2044.5%2031.5%2050.5%2027.5%2043%209h2q20%200%2043-9t50.5-27.5%2044.5-31.5%2046-37.5%2035-29.5q208-165%20401-317%2054-43%20100.5-115.5t46.5-131.5zm128-37v1088q0%2066-47%20113t-113%2047h-1472q-66%200-113-47t-47-113v-1088q0-66%2047-113t113-47h1472q66%200%20113%2047t47%20113z%22/%3E%3C/svg%3E);
	}

	.svg-icon.folder {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1600%201312v-704q0-40-28-68t-68-28h-704q-40%200-68-28t-28-68v-64q0-40-28-68t-68-28h-320q-40%200-68%2028t-28%2068v960q0%2040%2028%2068t68%2028h1216q40%200%2068-28t28-68zm128-704v704q0%2092-66%20158t-158%2066h-1216q-92%200-158-66t-66-158v-960q0-92%2066-158t158-66h320q92%200%20158%2066t66%20158v32h672q92%200%20158%2066t66%20158z%22/%3E%3C/svg%3E);
	}

		.svg-icon.folder.open {
			background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1717%20931q0-35-53-35h-1088q-40%200-85.5%2021.5t-71.5%2052.5l-294%20363q-18%2024-18%2040%200%2035%2053%2035h1088q40%200%2086-22t71-53l294-363q18-22%2018-39zm-1141-163h768v-160q0-40-28-68t-68-28h-576q-40%200-68-28t-28-68v-64q0-40-28-68t-68-28h-320q-40%200-68%2028t-28%2068v853l256-315q44-53%20116-87.5t140-34.5zm1269%20163q0%2062-46%20120l-295%20363q-43%2053-116%2087.5t-140%2034.5h-1088q-92%200-158-66t-66-158v-960q0-92%2066-158t158-66h320q92%200%20158%2066t66%20158v32h544q92%200%20158%2066t66%20158v160h192q54%200%2099%2024.5t67%2070.5q15%2032%2015%2068z%22/%3E%3C/svg%3E);
		}

		.svg-icon.folder.active {
			background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1728%20608v704q0%2092-66%20158t-158%2066h-1216q-92%200-158-66t-66-158v-960q0-92%2066-158t158-66h320q92%200%20158%2066t66%20158v32h672q92%200%20158%2066t66%20158z%22/%3E%3C/svg%3E);
		}

		.svg-icon.folder.open.active {
			background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1815%20952q0%2031-31%2066l-336%20396q-43%2051-120.5%2086.5t-143.5%2035.5h-1088q-34%200-60.5-13t-26.5-43q0-31%2031-66l336-396q43-51%20120.5-86.5t143.5-35.5h1088q34%200%2060.5%2013t26.5%2043zm-343-344v160h-832q-94%200-197%2047.5t-164%20119.5l-337%20396-5%206q0-4-.5-12.5t-.5-12.5v-960q0-92%2066-158t158-66h320q92%200%20158%2066t66%20158v32h544q92%200%20158%2066t66%20158z%22/%3E%3C/svg%3E);
		}

.fullwidth {
	width: 100%;
}

.multiline-input {
	font-size: 12px;
}

.noresize {
	resize: none;
}

.bold {
	font-weight: bold;
}

.nobold {
	font-weight: normal;
}

.without-margins {
	margin: 0;
}

.default-bottom-margin {
	margin-bottom: 0.5em;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.highlight {
	color: #000 !important;
	background-color: #CDE5F4 !important;
	outline: 3px #CDE5F4 !important;
}

.highlight-hover {
	background-color: #FF623D !important;
	outline: 3px #FF623D !important;
}

.draggable-highlight {
	background-color: #CDE5F4 !important;
	outline: 3px #CDE5F4 !important;
}

.draggable-highlight-hover {
	background-color: #b3cbda !important;
	outline: 3px #b3cbda !important;
}

.highlight-notification-round {
	background-color: #ee4823;
	color: #fff;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	width: 16px;
	font-size: 10px !important;
	height: 16px;
	text-align: center;
	line-height: 16px;
}

a.collapse-link {
	font-size: 0.8em !important;
	color: #ccc !important;
	line-height: 24px;
}

.btn-highlight {
	background-color: #1c4389;
}

.btn-main {
	color: #fff;
	background-color: #ee4823;
}

	.btn-main:hover,
	.btn-main:visited,
	.btn-main:focus {
		color: #fff;
		background-color: #FF623D;
	}

/* LAYOUT STYLES */

.iz-inst-root {
	position: relative;
}

.iz-inst-left-panel {
	position: absolute;
	height: 100%;
	width: 550px;
}

	.iz-inst-left-panel.collapsed {
		width: 128px;
	}

.iz-inst-left-panel-resize {
	position: absolute;
	height: 100%;
	left: 550px;
	width: 4px;
	cursor: ew-resize;
	background-color: #f3f3f3;
}

.iz-inst-main-panel {
	position: relative;
	height: 100%;
	margin-left: 554px;
}

	.iz-inst-main-panel.fullwidth {
		margin-left: 128px;
	}

/*INSTANT REPORT STYLES*/

.iz-inst-sidepanel-buttons {
	position: absolute;
	top: 0;
	width: 128px;
	bottom: 0;
	background-color: #4274AF;
}

.iz-inst-sidepanel-button {
	cursor: pointer;
	display: inline-block;
	height: 20%;
	max-height: 128px;
	width: 128px;
	text-align: center;
	color: #fff;
	padding-top: 50%;
	background-size: 32px auto;
	background-repeat: no-repeat;
	background-position: 48px 30%;
	text-transform: uppercase;
	font-weight: bold;
}

	.iz-inst-sidepanel-button.datasources {
		background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%3E%0A%09%3Cpath%20d%3D%22M896%20768q237%200%20443-43t325-127v170q0%2069-103%20128t-280%2093.5-385%2034.5-385-34.5-280-93.5-103-128v-170q119%2084%20325%20127t443%2043zm0%20768q237%200%20443-43t325-127v170q0%2069-103%20128t-280%2093.5-385%2034.5-385-34.5-280-93.5-103-128v-170q119%2084%20325%20127t443%2043zm0-384q237%200%20443-43t325-127v170q0%2069-103%20128t-280%2093.5-385%2034.5-385-34.5-280-93.5-103-128v-170q119%2084%20325%20127t443%2043zm0-1152q208%200%20385%2034.5t280%2093.5%20103%20128v128q0%2069-103%20128t-280%2093.5-385%2034.5-385-34.5-280-93.5-103-128v-128q0-69%20103-128t280-93.5%20385-34.5z%22%20fill%3D%22%23fff%22/%3E%0A%3C/svg%3E);
	}

		.iz-inst-sidepanel-button.datasources.active {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221792px%22%20height%3D%221792px%22%20viewBox%3D%220%200%201792%201792%22%20enable-background%3D%22new%200%200%201792%201792%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%234274AF%22%20d%3D%22M896%2C768c158%2C0%2C305.667-14.333%2C443-43c137.333-28.666%2C245.667-71%2C325-127v170c0%2C46-34.333%2C88.667-103%2C128%0A%09c-68.667%2C39.334-162%2C70.5-280%2C93.5s-246.333%2C34.5-385%2C34.5s-267-11.5-385-34.5S299.667%2C935.334%2C231%2C896%0A%09c-68.667-39.333-103-82-103-128V598c79.333%2C56%2C187.667%2C98.334%2C325%2C127C590.333%2C753.667%2C738%2C768%2C896%2C768z%20M896%2C1536%0A%09c158%2C0%2C305.667-14.333%2C443-43c137.333-28.666%2C245.667-71%2C325-127v170c0%2C46-34.333%2C88.667-103%2C128c-68.667%2C39.334-162%2C70.5-280%2C93.5%0A%09s-246.333%2C34.5-385%2C34.5s-267-11.5-385-34.5s-211.333-54.166-280-93.5c-68.667-39.333-103-82-103-128v-170%0A%09c79.333%2C56%2C187.667%2C98.334%2C325%2C127C590.333%2C1521.667%2C738%2C1536%2C896%2C1536z%20M896%2C1152c158%2C0%2C305.667-14.333%2C443-43%0A%09c137.333-28.666%2C245.667-71%2C325-127v170c0%2C46-34.333%2C88.667-103%2C128c-68.667%2C39.334-162%2C70.5-280%2C93.5s-246.333%2C34.5-385%2C34.5%0A%09s-267-11.5-385-34.5s-211.333-54.166-280-93.5c-68.667-39.333-103-82-103-128V982c79.333%2C56%2C187.667%2C98.334%2C325%2C127%0A%09C590.333%2C1137.667%2C738%2C1152%2C896%2C1152z%20M896%2C0c138.667%2C0%2C267%2C11.5%2C385%2C34.5s211.333%2C54.167%2C280%2C93.5c68.667%2C39.334%2C103%2C82%2C103%2C128%0A%09v128c0%2C46-34.333%2C88.667-103%2C128c-68.667%2C39.334-162%2C70.5-280%2C93.5S1034.667%2C640%2C896%2C640s-267-11.5-385-34.5%0A%09S299.667%2C551.334%2C231%2C512c-68.667-39.333-103-82-103-128V256c0-46%2C34.333-88.666%2C103-128c68.667-39.333%2C162-70.5%2C280-93.5%0A%09S757.333%2C0%2C896%2C0z%22/%3E%0A%3C/svg%3E);
		}

	.iz-inst-sidepanel-button.charts {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M768%20890l546%20546q-106%20108-247.5%20168t-298.5%2060q-209%200-385.5-103t-279.5-279.5-103-385.5%20103-385.5%20279.5-279.5%20385.5-103v762zm187%206h773q0%20157-60%20298.5t-168%20247.5zm709-128h-768v-768q209%200%20385.5%20103t279.5%20279.5%20103%20385.5z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E);
	}

		.iz-inst-sidepanel-button.charts.active {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221792px%22%20height%3D%221792px%22%20viewBox%3D%220%200%201792%201792%22%20enable-background%3D%22new%200%200%201792%201792%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%234274AF%22%20d%3D%22M768%2C890l546%2C546c-70.667%2C72-153.167%2C128-247.5%2C168s-193.833%2C60-298.5%2C60%0A%09c-139.333%2C0-267.833-34.333-385.5-103c-117.667-68.666-210.833-161.833-279.5-279.5C34.333%2C1163.834%2C0%2C1035.334%2C0%2C896%0A%09c0-139.333%2C34.333-267.833%2C103-385.5C171.667%2C392.834%2C264.833%2C299.667%2C382.5%2C231C500.167%2C162.334%2C628.667%2C128%2C768%2C128V890z%20M955%2C896%0A%09h773c0%2C104.667-20%2C204.167-60%2C298.5c-40%2C94.334-96%2C176.834-168%2C247.5L955%2C896z%20M1664%2C768H896V0c139.333%2C0%2C267.833%2C34.334%2C385.5%2C103%0A%09c117.667%2C68.667%2C210.833%2C161.834%2C279.5%2C279.5C1629.667%2C500.167%2C1664%2C628.667%2C1664%2C768z%22/%3E%0A%3C/svg%3E);
		}

	.iz-inst-sidepanel-button.format {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M352%20832q0%2014-9%2023l-288%20288q-9%209-23%209-13%200-22.5-9.5t-9.5-22.5v-576q0-13%209.5-22.5t22.5-9.5q14%200%2023%209l288%20288q9%209%209%2023zm1440%20480v192q0%2013-9.5%2022.5t-22.5%209.5h-1728q-13%200-22.5-9.5t-9.5-22.5v-192q0-13%209.5-22.5t22.5-9.5h1728q13%200%2022.5%209.5t9.5%2022.5zm0-384v192q0%2013-9.5%2022.5t-22.5%209.5h-1088q-13%200-22.5-9.5t-9.5-22.5v-192q0-13%209.5-22.5t22.5-9.5h1088q13%200%2022.5%209.5t9.5%2022.5zm0-384v192q0%2013-9.5%2022.5t-22.5%209.5h-1088q-13%200-22.5-9.5t-9.5-22.5v-192q0-13%209.5-22.5t22.5-9.5h1088q13%200%2022.5%209.5t9.5%2022.5zm0-384v192q0%2013-9.5%2022.5t-22.5%209.5h-1728q-13%200-22.5-9.5t-9.5-22.5v-192q0-13%209.5-22.5t22.5-9.5h1728q13%200%2022.5%209.5t9.5%2022.5z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E);
	}

		.iz-inst-sidepanel-button.format.active {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221792px%22%20height%3D%221792px%22%20viewBox%3D%220%200%201792%201792%22%20enable-background%3D%22new%200%200%201792%201792%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%234274AF%22%20d%3D%22M352%2C832c0%2C9.334-3%2C17-9%2C23L55%2C1143c-6%2C6-13.667%2C9-23%2C9c-8.667%2C0-16.167-3.166-22.5-9.5%0A%09c-6.333-6.333-9.5-13.833-9.5-22.5V544c0-8.666%2C3.167-16.166%2C9.5-22.5c6.333-6.333%2C13.833-9.5%2C22.5-9.5c9.333%2C0%2C17%2C3%2C23%2C9l288%2C288%0A%09C349%2C815%2C352%2C822.667%2C352%2C832z%20M1792%2C1312v192c0%2C8.667-3.167%2C16.167-9.5%2C22.5c-6.333%2C6.334-13.833%2C9.5-22.5%2C9.5H32%0A%09c-8.667%2C0-16.167-3.166-22.5-9.5c-6.333-6.333-9.5-13.833-9.5-22.5v-192c0-8.666%2C3.167-16.166%2C9.5-22.5%0A%09c6.333-6.333%2C13.833-9.5%2C22.5-9.5h1728c8.667%2C0%2C16.167%2C3.167%2C22.5%2C9.5C1788.833%2C1295.834%2C1792%2C1303.334%2C1792%2C1312z%20M1792%2C928v192%0A%09c0%2C8.667-3.167%2C16.167-9.5%2C22.5c-6.333%2C6.334-13.833%2C9.5-22.5%2C9.5H672c-8.667%2C0-16.167-3.166-22.5-9.5%0A%09c-6.333-6.333-9.5-13.833-9.5-22.5V928c0-8.666%2C3.167-16.166%2C9.5-22.5c6.333-6.333%2C13.833-9.5%2C22.5-9.5h1088%0A%09c8.667%2C0%2C16.167%2C3.167%2C22.5%2C9.5C1788.833%2C911.834%2C1792%2C919.334%2C1792%2C928z%20M1792%2C544v192c0%2C8.667-3.167%2C16.167-9.5%2C22.5%0A%09c-6.333%2C6.334-13.833%2C9.5-22.5%2C9.5H672c-8.667%2C0-16.167-3.166-22.5-9.5c-6.333-6.333-9.5-13.833-9.5-22.5V544%0A%09c0-8.666%2C3.167-16.166%2C9.5-22.5c6.333-6.333%2C13.833-9.5%2C22.5-9.5h1088c8.667%2C0%2C16.167%2C3.167%2C22.5%2C9.5%0A%09C1788.833%2C527.834%2C1792%2C535.334%2C1792%2C544z%20M1792%2C160v192c0%2C8.667-3.167%2C16.167-9.5%2C22.5c-6.333%2C6.334-13.833%2C9.5-22.5%2C9.5H32%0A%09c-8.667%2C0-16.167-3.166-22.5-9.5C3.167%2C368.167%2C0%2C360.667%2C0%2C352V160c0-8.666%2C3.167-16.166%2C9.5-22.5c6.333-6.333%2C13.833-9.5%2C22.5-9.5%0A%09h1728c8.667%2C0%2C16.167%2C3.167%2C22.5%2C9.5C1788.833%2C143.834%2C1792%2C151.334%2C1792%2C160z%22/%3E%0A%3C/svg%3E%0A);
		}

	.iz-inst-sidepanel-button.schedule {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M192%201664h288v-288h-288v288zm352%200h320v-288h-320v288zm-352-352h288v-320h-288v320zm352%200h320v-320h-320v320zm-352-384h288v-288h-288v288zm736%20736h320v-288h-320v288zm-384-736h320v-288h-320v288zm768%20736h288v-288h-288v288zm-384-352h320v-320h-320v320zm-352-864v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13%200-22.5%209.5t-9.5%2022.5v288q0%2013%209.5%2022.5t22.5%209.5h64q13%200%2022.5-9.5t9.5-22.5zm736%20864h288v-320h-288v320zm-384-384h320v-288h-320v288zm384%200h288v-288h-288v288zm32-480v-288q0-13-9.5-22.5t-22.5-9.5h-64q-13%200-22.5%209.5t-9.5%2022.5v288q0%2013%209.5%2022.5t22.5%209.5h64q13%200%2022.5-9.5t9.5-22.5zm384-64v1280q0%2052-38%2090t-90%2038h-1408q-52%200-90-38t-38-90v-1280q0-52%2038-90t90-38h128v-96q0-66%2047-113t113-47h64q66%200%20113%2047t47%20113v96h384v-96q0-66%2047-113t113-47h64q66%200%20113%2047t47%20113v96h128q52%200%2090%2038t38%2090z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E);
	}

		.iz-inst-sidepanel-button.schedule.active {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221792px%22%20height%3D%221792px%22%20viewBox%3D%220%200%201792%201792%22%20enable-background%3D%22new%200%200%201792%201792%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%234274AF%22%20d%3D%22M192%2C1664h288v-288H192V1664z%20M544%2C1664h320v-288H544V1664z%20M192%2C1312h288V992H192V1312z%20M544%2C1312h320V992%0A%09H544V1312z%20M192%2C928h288V640H192V928z%20M928%2C1664h320v-288H928V1664z%20M544%2C928h320V640H544V928z%20M1312%2C1664h288v-288h-288V1664z%0A%09%20M928%2C1312h320V992H928V1312z%20M576%2C448V160c0-8.666-3.167-16.166-9.5-22.5c-6.333-6.333-13.833-9.5-22.5-9.5h-64%0A%09c-8.667%2C0-16.167%2C3.167-22.5%2C9.5c-6.333%2C6.334-9.5%2C13.834-9.5%2C22.5v288c0%2C8.667%2C3.167%2C16.167%2C9.5%2C22.5%0A%09c6.333%2C6.334%2C13.833%2C9.5%2C22.5%2C9.5h64c8.667%2C0%2C16.167-3.166%2C22.5-9.5C572.833%2C464.167%2C576%2C456.667%2C576%2C448z%20M1312%2C1312h288V992h-288%0A%09V1312z%20M928%2C928h320V640H928V928z%20M1312%2C928h288V640h-288V928z%20M1344%2C448V160c0-8.666-3.167-16.166-9.5-22.5%0A%09c-6.333-6.333-13.833-9.5-22.5-9.5h-64c-8.667%2C0-16.167%2C3.167-22.5%2C9.5c-6.333%2C6.334-9.5%2C13.834-9.5%2C22.5v288%0A%09c0%2C8.667%2C3.167%2C16.167%2C9.5%2C22.5c6.333%2C6.334%2C13.833%2C9.5%2C22.5%2C9.5h64c8.667%2C0%2C16.167-3.166%2C22.5-9.5%0A%09C1340.833%2C464.167%2C1344%2C456.667%2C1344%2C448z%20M1728%2C384v1280c0%2C34.667-12.667%2C64.667-38%2C90c-25.333%2C25.334-55.333%2C38-90%2C38H192%0A%09c-34.667%2C0-64.667-12.666-90-38c-25.333-25.333-38-55.333-38-90V384c0-34.666%2C12.667-64.666%2C38-90c25.333-25.333%2C55.333-38%2C90-38%0A%09h128v-96c0-44%2C15.667-81.666%2C47-113c31.333-31.333%2C69-47%2C113-47h64c44%2C0%2C81.667%2C15.667%2C113%2C47c31.333%2C31.334%2C47%2C69%2C47%2C113v96h384%0A%09v-96c0-44%2C15.667-81.666%2C47-113c31.333-31.333%2C69-47%2C113-47h64c44%2C0%2C81.667%2C15.667%2C113%2C47c31.333%2C31.334%2C47%2C69%2C47%2C113v96h128%0A%09c34.667%2C0%2C64.667%2C12.667%2C90%2C38C1715.333%2C319.334%2C1728%2C349.334%2C1728%2C384z%22/%3E%0A%3C/svg%3E%0A);
		}

	.iz-inst-sidepanel-button.access {
		background-image: url(data:image/svg+xml,%3Csvg%20width%3D%221792%22%20height%3D%221792%22%20viewBox%3D%220%200%201792%201792%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M1376%20768q40%200%2068%2028t28%2068v576q0%2040-28%2068t-68%2028h-960q-40%200-68-28t-28-68v-576q0-40%2028-68t68-28h32v-320q0-185%20131.5-316.5t316.5-131.5%20316.5%20131.5%20131.5%20316.5q0%2026-19%2045t-45%2019h-64q-26%200-45-19t-19-45q0-106-75-181t-181-75-181%2075-75%20181v320h736z%22%20fill%3D%22%23fff%22/%3E%3C/svg%3E);
	}

		.iz-inst-sidepanel-button.access.active {
			background-image: url(data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%221792px%22%20height%3D%221792px%22%20viewBox%3D%220%200%201792%201792%22%20enable-background%3D%22new%200%200%201792%201792%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cpath%20fill%3D%22%234274AF%22%20d%3D%22M1376%2C768c26.667%2C0%2C49.333%2C9.334%2C68%2C28c18.667%2C18.667%2C28%2C41.334%2C28%2C68v576c0%2C26.667-9.333%2C49.334-28%2C68%0A%09c-18.667%2C18.667-41.333%2C28-68%2C28H416c-26.667%2C0-49.333-9.333-68-28c-18.667-18.666-28-41.333-28-68V864c0-26.666%2C9.333-49.333%2C28-68%0A%09c18.667-18.666%2C41.333-28%2C68-28h32V448c0-123.333%2C43.833-228.833%2C131.5-316.5C667.167%2C43.834%2C772.667%2C0%2C896%2C0%0A%09s228.833%2C43.834%2C316.5%2C131.5C1300.167%2C219.167%2C1344%2C324.667%2C1344%2C448c0%2C17.334-6.333%2C32.334-19%2C45c-12.667%2C12.667-27.667%2C19-45%2C19%0A%09h-64c-17.333%2C0-32.333-6.333-45-19c-12.667-12.666-19-27.666-19-45c0-70.666-25-131-75-181s-110.333-75-181-75s-131%2C25-181%2C75%0A%09s-75%2C110.334-75%2C181v320H1376z%22/%3E%0A%3C/svg%3E%0A);
		}

	.iz-inst-sidepanel-button.active {
		background-color: #CDE5F4;
		color: #4274AF;
	}

.iz-inst-left-panel > .iz-inst-leftpanel-body {
	position: absolute;
	height: 100%;
	left: 128px;
	right: 0;
	top: 0;
}

.iz-inst-leftpanel-body.with-report-name {
	top: 68px;
}

.iz-inst-left-panel.collapsed > .iz-inst-leftpanel-body {
	display: none;
}

.iz-inst-left-panel > .iz-inst-leftpanel-body > .panel {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	display: none;
	border: 0;
	margin-bottom: 0;
}

	.iz-inst-left-panel > .iz-inst-leftpanel-body > .panel.has-title {
		top: 52px;
	}

	.iz-inst-left-panel > .iz-inst-leftpanel-body > .panel.active {
		display: block;
	}

.iz-inst-report-name-container {
	height: 52px;
	padding: 16px 1em 0 1em;
	font-size: 1.2em;
	line-height: 1em;
	text-align: left;
	direction: rtl;
	white-space: nowrap;
	overflow: hidden;
}

	.iz-inst-report-name-container > .breadcrumb {
		background-color: transparent;
		padding: 8px 0;
	}

		.iz-inst-report-name-container > .breadcrumb > li {
			display: inline;
		}

/* DATA SOURCES */

.iz-inst-data-sources-search {
	padding: 1em;
}

.iz-inst-data-sources-tree {
	position: absolute;
	top: 4em;
	bottom: 1em;
	left: 1em;
	right: 1em;
	overflow-y: auto;
}

.ds-tree-item {
}

	.ds-tree-item > .ds-tree-item-header {
		cursor: pointer;
		line-height: 32px;
		padding-left: 4px;
		padding-right: 4px;
	}

		.ds-tree-item > .ds-tree-item-header.active > .ds-tree-item-header-text {
			font-weight: bold;
			-ms-word-wrap: break-word;
			word-wrap: break-word;
		}

		.ds-tree-item > .ds-tree-item-header.disabled > .ds-tree-item-header-text {
			color: #ccc;
		}

		.ds-tree-item > .ds-tree-item-header.active.disabled > .ds-tree-item-header-text {
			color: #000;
		}

		.ds-tree-item > .ds-tree-item-header.active.disabled > .ds-check-button {
			color: #ccc;
		}

		.ds-tree-item > .ds-tree-item-header.highlight > .ds-tree-item-header-text {
			color: #000 !important;
			background-color: #CDE5F4 !important;
		}

		.ds-tree-item > .ds-tree-item-header:hover {
			background-color: #fafafa;
		}

		.ds-tree-item > .ds-tree-item-header.selected {
			color: #fff;
			background-color: #4274AF;
		}

			.ds-tree-item > .ds-tree-item-header.selected:hover {
				color: #fff;
				background-color: #4274AF;
			}

/* notify icon */
.ds-tree-item-header-notify-icon-first {
	color: #ccc;
	margin-left: 8px;
}

.ds-tree-item-header-notify-icon {
	color: #ccc;
	margin-left: 4px;
}


/* check button */
.ds-tree-item > .ds-tree-item-header > .ds-check-button {
	color: #666;
}

	.ds-tree-item > .ds-tree-item-header > .ds-check-button:hover {
		color: #000;
	}

.ds-tree-item > .ds-tree-item-header.selected > .ds-check-button {
	color: #fff;
}

	.ds-tree-item > .ds-tree-item-header.selected > .ds-check-button:hover {
		color: #ddd;
	}

/* multiple button */
.ds-tree-item > .ds-tree-item-header > .ds-multiple-button {
	color: #ccc;
	float: right;
}

	.ds-tree-item > .ds-tree-item-header > .ds-multiple-button:hover {
		color: #666;
	}

.ds-tree-item > .ds-tree-item-header.selected > .ds-multiple-button {
	color: #fff;
}

	.ds-tree-item > .ds-tree-item-header.selected > .ds-multiple-button:hover {
		color: #ee4823;
	}
	
.ds-tree-item > .ds-tree-item-body {
	padding-left: 16px;
}

/* OPTIONS PANEL */
.iz-inst-field-options-panel {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	height: 310px;
	overflow-y: hidden;
	background-color: #fff;
	border-bottom: 1px solid #f3f3f3;
	-moz-transition: height ease-in-out .15s;
	-o-transition: height ease-in-out .15s;
	-webkit-transition: height ease-in-out .15s;
	transition: height ease-in-out .15s;
}

	.iz-inst-field-options-panel.collapsed {
		height: 0;
	}

	.iz-inst-field-options-panel.expanded {
		height: 100%;
	}

	.iz-inst-field-options-panel > .panel {
		border: 0;
		margin-bottom: 0;
		box-shadow: none;
	}

		.iz-inst-field-options-panel > .panel > .panel-body {
			overflow-y: auto;
			border-top: 0;
			font-size: 0.9em;
			position: absolute;
			left: 0;
			right: 0;
			top: 52px;
			bottom: 0;
		}

/* validate messages */

.iz-inst-validate-messages {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	text-align: center;
	font-weight: bold;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	color: #fff;
}

	.iz-inst-validate-messages.danger {
		background-color: crimson;
	}

	.iz-inst-validate-messages.warning {
		background-color: #ee4823;
	}

	.iz-inst-validate-messages.success {
		background-color: #3c763d;
	}

	.iz-inst-validate-messages.info {
		background-color: #1c4e89;
	}

/* COLUMN SETTINGS */

.iz-inst-column {
	border: 1px solid #ddd;
	background-color: #f3f3f3;
	padding: 8px;
	margin-bottom: 8px;
}

.iz-inst-column-select > optgroup {
	font-weight: bold;
}

/* BOOTSTRAP HELPER CLASSES */

.iz-inst-inner-glyphicon-container {
	position: relative;
}

	.iz-inst-inner-glyphicon-container > .glyphicon {
		position: absolute;
		right: 12px;
		top: 10px;
		color: #ccc;
	}

	.iz-inst-inner-glyphicon-container > input {
		padding-right: 24px;
	}

/* main panel */

.iz-inst-panel-header {
	background-color: #4274AF;
	color: #fff;
	margin-bottom: 0;
}

	.iz-inst-panel-header input {
		color: #666666;
		margin-top: 4px;
	}

	.iz-inst-panel-header .buttonbar {
		color: #fff;
		padding-top: 7px;
		padding-bottom: 7px;
	}

/*.iz-inst-options-navbar {
	margin-top: 9px;
}

	.iz-inst-options-navbar > li > a {
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: 2px;
	}

.iz-inst-options-navbar-btn-group {
	padding-top: 9px;
	margin-left: 2px;
}

	.iz-inst-options-navbar-btn-group .btn {
		padding: 5px 12px;
	}

	.iz-inst-options-navbar > li > a.btn-success:hover,
	.iz-inst-options-navbar-btn-group .btn-success:hover {
		background-color: #5cb85c !important;
		border-color: #4cae4c !important;
	}

	.iz-inst-options-navbar > li > a.btn-info:hover,
	.iz-inst-options-navbar-btn-group .btn-info:hover {
		background-color: #5bc0de !important;
		border-color: #46b8da !important;
	}*/

/* menu */

.iz-inst-mainpanel-menu {
	background-color: #fff;
	padding: 1em;
	width: 100%;
	white-space: nowrap;
}

	.iz-inst-mainpanel-menu > .btn-group {
		margin-left: 0px;
	}

	.iz-inst-mainpanel-menu .menu-item-description {
		color: #666;
		font-size: 0.8em;
	}

.iz-inst-mainpanel-body {
	position: absolute;
	overflow: auto;
	bottom: 0;
	top: 70px;
	padding: 0 17px 0 16px;
	left: 0;
	right: 0;
}

	.iz-inst-mainpanel-body.show-options-panel {
		bottom: 310px;
	}

/* preview */

.iz-inst-preview-root-container {
	min-width: 100%;
	min-height: 200px;
}

.iz-inst-preview-container {
	margin: 1em 0;
	margin-top: 0;
}

#_ReportsDiv {
	width: auto;
}

/* column sort */

.iz-inst-show-sort-link {
	color: #4274AF;
	font-weight: bold;
}

	.iz-inst-show-sort-link.disabled {
		font-weight: normal;
		color: #ccc;
	}

.iz-inst-column-sort-panel {
	padding-left: 0.5em;
}

.izenda-reorder-header {
	font-weight: bold;
	padding: 0.5em;
}

.izenda-reorder {
	margin-bottom: 0;
	width: 100%;
	list-style: none;
	display: inline-block;
}

	.izenda-reorder > .izenda-reorder-item {
		display: block;
		line-height: 2em;
		padding: 0 0.5em;
		background-color: #f3f3f3;
		border: 1px solid #fff;
		cursor: move;
		white-space: nowrap;
	}

		.izenda-reorder > .izenda-reorder-item:hover {
			background-color: #4274AF;
			color: #fff;
		}

		.izenda-reorder > .izenda-reorder-item.ui-sortable-placeholder {
			background-color: #ee4823 !important;
			border: 0 !important;
			box-shadow: none !important;
			visibility: visible !important;
		}

/* filters */

.iz-inst-filter-add-btn {
	margin-bottom: 1em;
	margin-left: -1em;
}

.iz-inst-field-filters-panel {
	position: relative;
	margin: 1em 0;
	padding: 0;
	margin-top: 0;
	background-color: #fdfdfd;
}

	.iz-inst-field-filters-panel > .iz-inst-field-filters-panel-header {
		padding: 0.5em;
		margin: 0;
		font-weight: bold;
		background-color: #4274AF;
		border: 1px solid #4274AF;
		color: #fff;
	}

	.iz-inst-field-filters-panel > .iz-inst-field-filters-panel-body {
		padding: 0.5em 0;
		margin: 0;
		border: 1px solid #4274AF;
	}

.iz-inst-filter-container {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 25%;
	padding: 0.5em;
}

.iz-inst-field-filters-logic {
	min-width: 20em;
}

.iz-inst-field-filters-toolbar {
	padding: 0 0.5em;
}

.iz-inst-filter-drop-placeholder {
	position: absolute;
	top: 0;
	bottom: 0;
}

	.iz-inst-filter-drop-placeholder.left {
		left: 0;
		width: 0.5em;
	}

	.iz-inst-filter-drop-placeholder.right {
		right: -0.5em;
		width: 1em;
	}

		.iz-inst-filter-drop-placeholder.right.half {
			width: 0.5em;
			right: 0;
		}

.iz-inst-filter-panel {
	-webkit-box-shadow: 0 1px 2px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
	background-color: #fff;
	border: 1px solid #4274AF;
}

.iz-inst-filter-header {
	background-color: #4274AF;
	color: #fff;
	border-bottom: 1px solid #ccc;
	height: 1.5em;
}

	.iz-inst-filter-header.not-valid {
		background-color: #a52a2a;
	}

	.iz-inst-filter-header .index-container {
		padding: 0 0.5em;
	}

	.iz-inst-filter-header .btn-header-close {
		padding: 0 0.5em;
		float: right;
		font-size: 1em;
		line-height: 1.1em;
		height: 1.1em;
		background-color: transparent;
		color: #fff;
		border: 0;
		margin: 0.2em;
	}

.iz-inst-filter-body {
	min-height: 1em;
	padding: 4px 4px 0 4px;
}

.iz-inst-filter-line {
	margin-bottom: 4px;
}

.iz-inst-filter-input {
	width: 100%;
	display: block;
	padding: 3px 12px;
	height: 2em;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

	.iz-inst-filter-input:focus {
		border-color: #66afe9;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
	}

.iz-inst-filter-input-btn {
	padding: 3px 14px;
	height: 2em;
}

/* FORMAT */
.iz-inst-format-container {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	overflow-y: auto;
	bottom: 0;
	margin: 0;
}

/* charts */
.iz-inst-charts-container {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	overflow-y: auto;
	bottom: 0;
	margin: 0;
}

.iz-inst-chart-item {
	display: inline-block;
	width: 140px;
	margin: 0.5em;
	position: relative;
	border: 1px solid #4274AF;
	background-color: #4274AF;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

	.iz-inst-chart-item > .img-container {
		height: 100px;
		background-color: #fff;
		overflow: hidden;
	}

	.iz-inst-chart-item.active {
		background-color: #ee4823;
		border-color: #ee4823;
	}

/* schedule */
.iz-inst-schedule-container, .iz-inst-share-container {
	position: absolute;
	top: 1em;
	left: 1em;
	right: 1em;
	overflow-y: auto;
	bottom: 0;
	margin: 0;
}
